*{
    color:#35383A;
    box-sizing: border-box;
}
body{
    background-color: rgb(215, 204, 204);
    font-family: 'Noto Serif JP', serif;
font-family: 'Open Sans', sans-serif;
max-width: 1280px;
padding: 100px 160px 100px 140px;
}
.our_service{
max-width: 1000px;
height: 665px;
margin: 0 auto;
}
.container{
    background-color: #fff;
    max-width: 680px;
    padding: 94px;
    margin: 0 auto;
    position: relative;
}
h1{
    display: inline-block;
    font-size: 1.875em;
    line-height: 1.3333;
    letter-spacing: 1.8px;
    border-bottom: 1px solid #35383A;
}
.catch_phrase{
    margin-top: 30px;
    font-size: 1.875rem;
    line-height: 1.8;
    letter-spacing: 1.8px;
}
.text{
    max-width: 463px;
}
.text, a{
    margin-top: 35px;
    line-height: 1.8;
    letter-spacing: 0.16;
}

a{
    text-decoration: none;
    display: inline-block;
    margin-top: 35px;
    width: 198px;
    text-align: center;
    border: 1px solid #35383A;
    border-radius: 30px;
    line-height: 57px;
}
a:hover{
    background-color: #efeded;
    transition: all .7s;
}

.img{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 580px;
    top: 140px;
    /* top: 0;
    left: 0; */

}
img{
    width: 100%;
}